<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.board.model.dao.BoardDao">
	
	<resultMap type="Board" id="boardMap">
		<id column="board_idx" property="board_idx" />
		<result column="board_title" property="board_title" />
		<result column="board_content" property="board_content" />
		<result column="writer_id" property="writer_id" />
		<result column="board_create" property="board_create" />
		<result column="board_update" property="board_update" />
		<result column="board_view" property="board_view" />
		<result column="board_like" property="board_like" />
	</resultMap>
	
	
	<!-- 게시글 작성 -->
	<insert id="insertBoard" parameterType="Board" keyProperty="board_idx" useGeneratedKeys="true">
		INSERT INTO board (board_title, board_content, writer_id, board_created)
		VALUES (#{board_title}, #{board_content}, #{writer_id}, now())
	</insert>
	
	<!-- 게시글 수정 -->
	<update id="updateBoard" parameterType="Board">
		UPDATE board
		SET
		board_title = #{board_title},
		board_content = #{board_content},
		board_updated = now(),
		board_view = #{board_view},
		board_like = #{board_like}
		WHERE board_idx = #{board_idx}
	</update>
	<!-- 게시글 삭제 -->
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM board WHERE board_idx = #{board_idx}
	</delete>
	
	<!-- 게시글 하나 조회 -->
	<select id="selectOneBoard" resultType="Board" parameterType="int">
		SELECT *
		FROM board
		WHERE board_idx = #{board_idx}
	</select>
	
	<!-- 게시글 전체 조회 -->
	<select id="selectAllBoard" resultType="Board">
		SELECT *
		FROM board
	</select>
	
	<!-- 게시글 검색 -->
	<select id="search" resultType="Board" parameterType="SearchCondition" >
		SELECT * FROM board
		<!-- 어떤 기준을 가지고 검색을 할거냐!!! -->
		<if test="key != 'none'">
			WHERE ${key} LIKE concat('%', #{word}, '%')
		</if>
	</select>
	
	<!-- 게시글 조회수 증가 -->
	<update id="updateViewCnt" parameterType="int">
		UPDATE board
		SET board_view = board_view+1
		WHERE board_idx = #{board_idx}
	</update>
	
	<!-- 게시글 좋아요 증가 -->
	<update id="updateLikeCnt" parameterType="int">
		UPDATE board
		SET board_like = board_like+1
		WHERE board_idx = #{board_idx}
	</update>
</mapper>