<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.board.model.dao.OffGroupDao">
	<select id="selectAll" resultType="OffGroup">
		SELECT *
		FROM off_group
	</select>
	<select id="selectOneGroup" parameterType="int" resultType="OffGroup">
		SELECT *
		FROM off_group
		WHERE group_id = #{group_id}
	</select>
	<delete id="deleteGroup" parameterType="int">
		DELETE
		FROM off_group
		WHERE group_id = #{group_id}
	</delete>
	<update id="updateGroup" parameterType="OffGroup">
		UPDATE off_group
		SET
		group_title = #{group_title}, group_message = #{group_message}, group_description = #{group_description},
		group_cnt = #{group_cnt},group_address = #{group_address}, group_image = #{group_image}, group_orgimage = #{group_orgimage}
		WHERE group_id = #{group_id}
	</update>
	<insert id="insertGroup" parameterType="OffGroup" keyProperty="group_id" useGeneratedKeys="true">
		INSERT INTO off_group
		(group_title, group_message, group_description, group_cnt,
		 group_leader_user_id, group_address, group_image, group_orgimage)
		VALUES(#{group_title}, #{group_message}, #{group_description}, 1,
		 #{group_leader_user_id}, #{group_address}, #{group_image}, #{group_orgimage})
	</insert>
</mapper>