<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.board.model.dao.OffUserMembershipDao">
	<select id="selectMembershipByUserId" parameterType="String" resultType="OffUserMembership">
		SELECT *
		FROM off_user_membership
		WHERE user_id = #{user_id}
	</select>
	
	<select id="selectAllMembership" resultType="OffUserMembership">
		SELECT *
		FROM off_user_membership
	</select>
	
	<select id="selectMembershipByGroupId" parameterType="int" resultType="OffUserMembership">
		SELECT *
		FROM off_user_membership
		WHERE group_id = #{group_id}
	</select>
	
	<insert id="insertMembership" parameterType="OffUserMembership" keyProperty="membership_id" useGeneratedKeys="true">
		INSERT INTO off_user_membership
		(group_id, user_id)
		VALUES (#{group_id}, #{ user_id})
	</insert>
	
	<delete id="deleteMembership" parameterType="int">
		DELETE FROM off_user_membership
		WHERE membership_id = #{membership_id}
	</delete>
</mapper>