<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.board.model.dao.VideoDao">
	<select id="selectAllVideos" resultType="Video">
		SELECT *
		FROM video
	</select>
	<select id="selectVideo" parameterType="String" resultType="Video">
		SELECT *
		FROM video
		WHERE video_id = #{video_id}
	</select>
	<insert id="insertVideo" parameterType="Video" keyProperty="video_id" useGeneratedKeys="true">
		INSERT INTO video
		(video_id, video_title, video_url)
		VALUES(#{video_id}, #{video_title}, #{video_url})
	</insert>
	<delete id="deleteVideo" parameterType="String">
		DELETE FROM video
		WHERE video_id = #{video_id}
	</delete>
	<update id="updateVideo" parameterType="Video">
		UPDATE video
		SET video_title = #{video_title}, video_url = #{video_url}
		WHERE video_id = #{video_id}
	</update>
</mapper>